{% load staticfiles %}
<html>
<head>
    <title>{% block title %}PicView{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="topBar">
        <div id="logo">
            <a href="/"><img src="{% static 'img/picview.png' %}"/></a>
        </div>
        <div>
            <a href="/toolbox/charts/">Charts</a>
        </div>
        <div>
            <a href="#">...</a>
        </div>
    </div>
    <div id="container">
        <div id="contentHolder">
            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
