{% load staticfiles %}
<html>
<head>
    <title>{% block title %}PicView{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="top-bar">
        <div id="logo">
            <a href="{% url 'index' %}"></a>
        </div>
        <div id="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
