{% load staticfiles %}
<html>
<head>
    <title>{% block title %}PicView{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="top-bar">
        <div id="logo">
            <a href="/"><img src="{% static 'img/picview.png' %}"/></a>
        </div>
        {% block breadcrumbs %}{% endblock %}
    </div>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
