{% extends 'base.html' %}

{% block breadcrumbs %}
<div>
    <a href="{% url 'album' image.album.slug %}">{{ image.album.name }}</a>
</div>
<div>
    <a href="">{{ image.name }}</a>
</div>
{% endblock %}
{% block body %}
    <div id="view">
        <div class="inset-box">
            <div id="image">
                {% if not image.is_first %}
                    <a id="prev" class="nav-link" accesskey="z" href="{% url 'image' image.album.slug image.position %}"></a>
                {% endif %}
                {% if not image.is_last %}
                    <a id="next" class="nav-link" accesskey="x"  href="{% url 'image' image.album.slug image.position|add:'2' %}"></a>
                {% endif %}
                <img src="{{ image.get_url }}">
            </div>
        </div>
    <div id="view">
{% endblock %}